<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cns</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/file.css">
  <link rel="stylesheet" href="/css/dropzone.css">
  <script src="/js/dropzone.js"></script>
</head>

<body>
  <div class="container">
    <main class="main">
      <%- body %>
    </main>
  </div>
</body>

</html>