input[type='file'] {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.form__input--file_wrap {
  display: flex;
}

.form__label--file {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #999;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form__span--file {
  padding: 0 5px 0 10px;
  margin-left: 5px;
  display: block;
  width: 400px;
  min-height: 30px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  line-height: 30px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.loading-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #333;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}