header {
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 3px solid #ddd;
}

.primary {
  overflow: auto;
  scroll-snap-type: both mandatory;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table th {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-clip: padding-box;
}

table td {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

table th:first-child,
table td:first-child {
  border-left: 1px solid #aaa;
}

tbody tr:first-child td {
  border-top: 1px solid #aaa;
}

tbody tr:first-child td:last-child {
  border-top: none;
}

.bgcolor {
  background-color: rgb(236, 235, 234);
}

thead {
  z-index: 1000;
  position: relative;
}

th,
td {
  /*max-width: 200px;*/
  text-align: center;
  word-break: break-all;
  margin: 0;
}

thead th {
  top: 0;
  background-clip: padding-box;
}

tbody th {
  background-clip: padding-box;
}

tbody {
  z-index: 10;
  position: relative;
}

tbody th {
  left: 0;
}

thead th,
tbody th {
  background-color: #f8f8f8;
}

tr td:last-child {
  border: 0;
}

.table-wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  overflow-x: auto;
  overflow-y: auto;
}

thead.sticky {
  position: sticky !important;
  top: 0px !important;
}